
/* General styling for the calculator */
#calculator-content {
    width: 100%;  /* Add this line */
    height: auto;  /* Add this line */
    background-image: url('cotte_background.jpg');
    background-size: cover;
    background-repeat: no-repeat;  /* Add this line */
    background-position: center;
}
/* Existing styles here... */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* Styling for the product image */
#product-image img {
    max-width: 100%;
    height: auto;
}

/* Styling for the form */
#size-form {
    margin-top: 20px;
}

label {
    font-weight: bold;
    margin-right: 10px;
    color: orange;
}

input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Styling for the size recommendation */
#size-recommendation {
    margin-top: 40px;
}

#best-fit,
#close-fit {
    font-size: 18px;
    font-weight: bold;
    color: orange;
}
